@charset "UTF-8";
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  color: #9C9C9C;
  background-color: #0D0D11;
}
.menu-open body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-block__body:not(:last-child) {
  margin-bottom: 32px;
}
.title-block__label {
  display: inline-block;
  text-align: center;
  font-weight: 300;
  font-size: 10.8px;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 19px;
  border: 1px solid #19191d;
  border-radius: 12px;
}
.title-block__label:not(:last-child) {
  margin-bottom: 19px;
}
.title-block__title:not(:last-child) {
  margin-bottom: 28px;
}
.title-block__text > *:not(:last-child) {
  margin-bottom: 8px;
}
.title-block__list:not(:last-child) {
  margin-bottom: 20px;
}
.title-block__item {
  font-size: 16px;
  position: relative;
  padding-left: 40px;
  min-height: 32px;
}
.title-block__item:not(:last-child) {
  margin-bottom: 16px;
}
.title-block__item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/why/check.svg") center no-repeat, #19191d;
}
.title-block__item > *:not(:last-child) {
  margin-bottom: 8px;
}
.title-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 16px;
}
@media (max-width: 991.98px) {
  .title-block__actions {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .title-block__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 44px;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 29px;
  }
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #3D96F4;
  border-radius: 100vmax;
  padding: 16px 24px;
  vertical-align: top;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #2a72c0;
  }
}
.button--grey {
  background-color: #2e2e33;
}
.button--grey:hover {
  background-color: #3C3C43;
}
@media (max-width: 479.98px) {
  .button {
    padding: 10px 20px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.header._header-scroll {
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  min-height: 116px;
  padding-block: 5px;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}
._header-scroll .header__container {
  min-height: 90px;
}
@media (max-width: 991.98px) {
  .header__container {
    gap: 20px;
    min-height: 100px;
  }
  ._header-scroll .header__container {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 80px;
  }
  ._header-scroll .header__container {
    min-height: 60px;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    gap: 12px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .header__logo {
    margin-right: auto;
  }
}
@media (max-width: 429.98px) {
  .header__logo {
    overflow: hidden;
    width: 36px;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    padding: 140px 20px 30px;
    background-color: hsl(0deg, 0%, 0%);
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 70px;
    background-color: hsl(0deg, 0%, 0%);
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-open .header__menu {
    left: 0;
  }
  .menu-open .header__menu::before {
    left: 0;
  }
}
.header__cart {
  position: relative;
  z-index: 5;
}
.header__button {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .header__button {
    padding: 10px 20px;
  }
}
.menu {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-left: auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
    font-size: 40px;
  }
  .menu__list > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    display: none;
  }
  .menu-open .menu__link {
    display: block;
  }
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  letter-spacing: 0.96px;
  color: #FFFFFF;
}
.cart-header__text {
  font-weight: 300;
  font-size: 17.6px;
  line-height: 1.6;
}
@media (any-hover: hover) {
  .cart-header__text:hover {
    text-decoration: underline;
  }
}
@media (max-width: 479.98px) {
  .cart-header__text {
    display: none;
  }
}
.cart-header__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #19191d;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
@media (max-width: 479.98px) {
  .cart-header__value {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 30px;
    height: 40px;
    background: url("../img/header/cart.svg") center/30px no-repeat;
    border-radius: 0px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: hsl(0deg, 0%, 100%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: calc(50% + 8px);
  }
  .icon-menu::after {
    top: calc(50% - 8px);
  }
  .menu-open .icon-menu span {
    -webkit-transform: translate(-50%, -50%) scaleX(0);
        -ms-transform: translate(-50%, -50%) scaleX(0);
            transform: translate(-50%, -50%) scaleX(0);
  }
  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .menu-open .icon-menu::after {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.footer__main {
  margin-bottom: 140px;
}
@media (max-width: 991.98px) {
  .footer__main {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .footer__main {
    margin-bottom: 80px;
  }
}
@media (max-width: 479.98px) {
  .footer__main {
    margin-bottom: 50px;
  }
}
.main-footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 380px) auto auto minmax(auto, 377px);
  grid-template-columns: minmax(auto, 380px) auto auto minmax(auto, 377px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 40px;
}
@media (max-width: 1100px) {
  .main-footer__container {
    -ms-grid-columns: 1fr 1fr -webkit-max-content;
    -ms-grid-columns: 1fr 1fr max-content;
    grid-template-columns: 1fr 1fr -webkit-max-content;
    grid-template-columns: 1fr 1fr max-content;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 991.98px) {
  .main-footer__container {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 767.98px) {
  .main-footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    justify-items: start;
  }
}
@media (max-width: 1100px) {
  .main-footer__column:first-child {
    grid-column: 1/-1;
  }
}
@media (max-width: 991.98px) {
  .main-footer__column:first-child, .main-footer__column:last-child {
    grid-column: 1/-1;
  }
}
.main-footer__logo {
  display: inline-block;
}
.main-footer__logo:not(:last-child) {
  margin-bottom: 32px;
}
.main-footer__text {
  font-weight: 300;
  line-height: 1.5;
}
.main-footer__text:not(:last-child) {
  margin-bottom: 32px;
}
.main-footer__socials:not(:last-child) {
  margin-bottom: 32px;
}
.main-footer__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: hsl(0deg, 0%, 100%);
}
.main-footer__label:not(:last-child) {
  margin-bottom: 30px;
}
.main-footer__label--spoller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.main-footer__label--spoller::after {
  display: block;
  content: "";
  width: 24px;
  height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url("../img/icons/arrow-select.svg") center/100% no-repeat;
}
@media (min-width: 768px) {
  .main-footer__label--spoller::after {
    display: none;
  }
}
.main-footer__label--spoller._spoller-active::after {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}
@media (max-width: 767.98px) {
  .main-footer__label--spoller:not(:last-child) {
    margin-bottom: 0px;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .main-footer__menu {
    padding-top: 24px;
  }
}
.main-footer__item:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1100px) {
  .main-footer__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .main-footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
.main-footer__link {
  font-weight: 300;
  line-height: 1.6;
}
@media (any-hover: hover) {
  .main-footer__link:hover {
    text-decoration: underline;
  }
}
.socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.socials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36px;
          flex: 0 1 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 139, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .socials__item:hover {
    background-color: rgba(255, 255, 255, 0.137);
  }
}

.subscribe__text {
  font-weight: 300;
  line-height: 1.6;
}
.subscribe__text:not(:last-child) {
  margin-bottom: 32px;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}
@media (max-width: 479.98px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.subscribe__input {
  height: 52px;
  padding: 0 32px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 100vmax;
  color: inherit;
}
.subscribe__input::-webkit-input-placeholder {
  line-height: 1.5;
  color: #999;
}
.subscribe__input::-moz-placeholder {
  line-height: 1.5;
  color: #999;
}
.subscribe__input:-ms-input-placeholder {
  line-height: 1.5;
  color: #999;
}
.subscribe__input::-ms-input-placeholder {
  line-height: 1.5;
  color: #999;
}
.subscribe__input::placeholder {
  line-height: 1.5;
  color: #999;
}
.subscribe__button {
  padding: 16px 24px;
}

.copy-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 46px 0;
  border-top: 1px solid rgba(129, 129, 139, 0.2);
}
@media (max-width: 991.98px) {
  .copy-footer__copy {
    padding: 36px 0;
  }
}
@media (max-width: 767.98px) {
  .copy-footer__copy {
    padding: 26px 0;
  }
}
@media (max-width: 479.98px) {
  .copy-footer__copy {
    padding: 16px 0;
  }
}

.page {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 991.98px) {
  .page {
    padding-top: 140px;
    padding-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page {
    padding-top: 130px;
    padding-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}
.page__main {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__main {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__main {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__main {
    margin-bottom: 50px;
  }
}
.page__clients {
  margin-bottom: 140px;
}
@media (max-width: 991.98px) {
  .page__clients {
    margin-bottom: 90px;
  }
}
@media (max-width: 767.98px) {
  .page__clients {
    margin-bottom: 70px;
  }
}
@media (max-width: 479.98px) {
  .page__clients {
    margin-bottom: 50px;
  }
}
.page__services {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__services {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__services {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__services {
    margin-bottom: 50px;
  }
}
.page__why {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__why {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__why {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__why {
    margin-bottom: 50px;
  }
}
.page__advantages {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__advantages {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__advantages {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__advantages {
    margin-bottom: 50px;
  }
}
.page__testimonials {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__testimonials {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__testimonials {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__testimonials {
    margin-bottom: 50px;
  }
}
.page__blog {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__blog {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__blog {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__blog {
    margin-bottom: 50px;
  }
}
.page__start:not(:last-child) {
  margin-bottom: 180px;
}
@media (max-width: 991.98px) {
  .page__start:not(:last-child) {
    margin-bottom: 110px;
  }
}
@media (max-width: 767.98px) {
  .page__start:not(:last-child) {
    margin-bottom: 90px;
  }
}
@media (max-width: 479.98px) {
  .page__start:not(:last-child) {
    margin-bottom: 50px;
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__container > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .main__container {
    display: block;
  }
}
.main__content {
  padding-right: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 767.98px) {
  .main__content {
    padding: 0;
    margin-bottom: 40px;
  }
}
.main__content .title-block__body {
  max-width: 510px;
  position: relative;
}
@media (max-width: 767.98px) {
  .main__content .title-block__body {
    max-width: unset;
  }
}
.main__content .title-block__body::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -31px;
  width: 122px;
  height: 122px;
  background: url("../img/main/decor.svg") 0 0/100% no-repeat;
}
.main__content .title-block__body > * {
  position: relative;
}
.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 60px;
  padding-right: 30px;
}
@media (max-width: 991.98px) {
  .images-main {
    gap: 32px;
  }
}
@media (max-width: 767.98px) {
  .images-main {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .images-main {
    gap: 20px;
  }
}
.images-main__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
}
.images-main__column > *:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 479.98px) {
  .images-main__column > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.images-main__image {
  position: relative;
  overflow: hidden;
  border-radius: 100vmax;
}
.images-main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-main__image--1 {
  padding-bottom: 177%;
}
.images-main__image--2 {
  padding-bottom: 100%;
  border-bottom-right-radius: 0;
}
.images-main__image--3 {
  border-top-right-radius: 0;
  padding-bottom: 100%;
}
.images-main__image--4 {
  padding-bottom: 177%;
}

.clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.clients__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 991.98px) {
  .clients__title:not(:last-child) {
    margin-bottom: 12px;
  }
}
.clients__body-slider {
  max-width: 1152px;
  margin: 0px auto;
  position: relative;
  -webkit-mask: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(90%, black), to(rgba(0, 0, 0, 0)));
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%);
  mask: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(90%, black), to(rgba(0, 0, 0, 0)));
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%);
}
.slide-slider-clients {
  height: 80px;
  padding: 10px 0;
}
.slide-slider-clients.swiper-slide {
  width: auto;
}
.slide-slider-clients__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slide-slider-clients__image img {
  max-height: 100%;
  max-width: 100%;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1140px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}
.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (min-width: 1140.02px) {
  .services__content {
    max-width: 530px;
    padding-right: 20px;
  }
}
.services__content .title-block__title:not(:last-child) {
  margin-bottom: 12px;
}
.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53.55%;
          flex: 0 1 53.55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 479.98px) {
  .services__items {
    gap: 16px;
  }
}
.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.services__column > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (min-width: 768px) {
  .services__column:first-child {
    padding-top: 48px;
  }
}
@media (max-width: 767.98px) {
  .services__column {
    gap: 24px;
  }
}
@media (max-width: 479.98px) {
  .services__column {
    gap: 16px;
  }
}
.services__item {
  padding: 55px 25px;
  background-color: #19191d;
  border-radius: 30px;
}
@media (max-width: 479.98px) {
  .services__item {
    padding: 35px 15px;
  }
}

.item-services__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-services__title {
  font-size: 19.2px;
  line-height: 1.42;
  color: hsl(0deg, 0%, 100%);
}
.item-services__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-services__text {
  color: #81818B;
  font-size: 16px;
}
.item-services__text > *:not(:last-child) {
  margin-bottom: 10px;
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__container > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
}
@media (max-width: 479.98px) {
  .why__container {
    gap: 30px;
  }
}
.why__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
@media (max-width: 767.98px) {
  .why__images {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
.why__images::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -13px;
  width: 122px;
  height: 122px;
  background: url("../img/why/decor.svg") 0 0 no-repeat;
}
.why__column-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.why__column-image--1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
.why__column-image--2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.why__image {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.why__column-image--1 .why__image {
  padding-bottom: 185.58%;
  border-radius: 100% 0% 50% 50%/50% 0% 27% 27%;
}
.why__column-image--2 .why__image {
  padding-bottom: 100%;
  border-bottom-left-radius: 0;
  border-radius: 100vmax;
  border-bottom-left-radius: 0;
}
.why__image img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .why__content {
    padding-left: 55px;
  }
}
@media (min-width: px) {
  .why__content .title-block__text {
    max-width: 510px;
  }
}
.why__content .title-block__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 479.98px) {
  .why__content .title-block__title:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .advantages__container {
    gap: 20px;
  }
}
.advantages__items {
  display: -ms-grid;
  display: grid;
  gap: 32px;
}
@media (min-width: 768px) {
  .advantages__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.43%;
            flex: 0 0 58.43%;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .advantages__items {
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .advantages__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.advantages__image {
  position: relative;
  padding-bottom: 117.6%;
  overflow: hidden;
  border-radius: 0% 60% 50% 50%/0% 50% 42.5% 42.5%;
}
.advantages__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-advantages {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
@media (max-width: 479.98px) {
  .item-advantages {
    padding: 20px 20px;
  }
}
.item-advantages__value {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 1.2;
  color: #FFFFFF;
}
.item-advantages__value:not(:last-child) {
  margin-bottom: 32px;
}
.item-advantages__text {
  font-size: 18px;
  color: #9C9C9C;
}
.item-advantages__text > *:not(:last-child) {
  margin-bottom: 10px;
}

.testimonials__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 767.98px) {
  .testimonials__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.testimonials__header .title-block__body {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .testimonials__header .title-block__body {
    max-width: 768px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.testimonials__header .title-block__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.testimonials__header .title-block__title:not(:last-child) {
  margin-bottom: 12px;
}
.testimonials__header:not(:last-child) {
  margin-bottom: 60px;
}
.testimonials__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media (max-width: 1199.98px) {
  .testimonials__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
@media (max-width: 767.98px) {
  .testimonials__items {
    gap: 20px;
  }
}
.item-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
@media (max-width: 768px) {
  .item-testimonials {
    gap: 24px;
    padding: 40px 30px;
  }
}
@media (max-width: 479.98px) {
  .item-testimonials {
    padding: 30px 20px;
    gap: 16px;
  }
}
.item-testimonials__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 35px;
}
@media (max-width: 767.98px) {
  .item-testimonials__body {
    gap: 24px;
  }
}
@media (max-width: 479.98px) {
  .item-testimonials__body {
    gap: 16px;
  }
}
.item-testimonials__title {
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
}
.item-testimonials__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #9C9C9C;
}
.user-item-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.user-item-testimonials__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68px;
          flex: 0 0 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
}
.user-item-testimonials__image img {
  max-width: 100%;
}
.user-item-testimonials__image--1 {
  border-top-left-radius: 0;
}
.user-item-testimonials__image--2 {
  border-top-right-radius: 0;
}
.user-item-testimonials__image--3 {
  border-bottom-right-radius: 0;
}
.user-item-testimonials__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.user-item-testimonials__name:not(:last-child) {
  margin-bottom: 7px;
}
.user-item-testimonials__company {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #9C9C9C;
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .blog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.blog__header:not(:last-child) {
  margin-bottom: 64px;
}
.blog__header .title-block__title:not(:last-child) {
  margin-bottom: 12px;
}
.blog__header .title-block__body:not(:last-child) {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .blog__header .title-block__body:not(:last-child) {
    max-width: 768px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.blog__header .title-block__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.blog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  gap: 48px;
}
@media (max-width: 991.98px) {
  .blog__items {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .blog__items {
    gap: 20px;
  }
}
.item-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content auto;
  -ms-grid-rows: min-content auto;
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
}
.item-blog__header {
  position: relative;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}
.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-blog__image img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
  padding: 9px 10px;
  background-color: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-blog__category:hover {
    background-color: rgba(76, 76, 83, 0.5);
  }
}
.item-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 36px 26px 40px;
}
@media (max-width: 479.98px) {
  .item-blog__body {
    padding: 24px 20px;
  }
}
.item-blog__date {
  color: #767680;
  font-weight: 300;
  line-height: 1.5;
}
.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}
.item-blog__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-blog__link-title {
  font-size: 19.2px;
  line-height: 1.4;
  color: hsl(0deg, 0%, 100%);
}
@media (any-hover: hover) {
  .item-blog__link-title:hover {
    text-decoration: underline;
  }
}
.item-blog__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}
.item-blog__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-blog__text > *:not(:last-child) {
  margin-bottom: 12px;
}
.item-blog__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #3D96F4;
}
@media (any-hover: hover) {
  .item-blog__link:hover {
    text-decoration: underline;
  }
}
.item-blog__link:not(:last-child) {
  margin-bottom: 10px;
}

.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 52px 40px;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
@media (max-width: 991.98px) {
  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media (max-width: 767.98px) {
  .start__body {
    padding: 32px 20px;
  }
}
.start__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 991.98px) {
  .start__column > * {
    width: 100%;
  }
}
.start__wrapp {
  max-width: 370px;
}
.start__title {
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
}
.start__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 28px;
  }
}
.start__text {
  font-weight: 300;
  line-height: 1.5;
}
.start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .start__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
