//---обнуляющие стили-----------------------------
// @import "nullstyle";
//---подключение шрифтов--------------------------
@import url("https://fonts.googleapis.com/css?family=Roboto:wdth@regular,500,700c&display=swap");
//---Иконочный шрифт------------------------------
@import "icons-font";
//---адаптивный шрифт/свойство--------------------
@import "adaptive-value";
//---перевод px в rem/em/%------------------------
@import "rem-em-%";

//---HTML-----------------------------------------
html {
	scroll-behavior: smooth;
}

//---BODY-----------------------------------------
body {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
}
//---VISUALLY-HIDDEN CLASS------------------------
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

//---IBG------------------------------------------
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//---WRAPPER---------------------------------------
.wraper {
	padding: 50px;
}

//---CHECK---------------------------------------
.check {
	padding-left: 30px;
	// .check__input
	&__input {
		// appearance: none;
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	// .check__box
	&__box {
		position: absolute;
		width: 1.2em;
		height: 1.2em;
		background-color: tomato;
		background: url("../img/icons/checkbox/off.svg") center no-repeat;
		margin-left: -30px;
		.check__input:checked + & {
			background: url("../img/icons/checkbox/on.svg") center no-repeat;
		}
		.check__input:checked:focus-visible + & {
			background: url("../img/icons/checkbox/on-focus.svg") center no-repeat;
		}
		.check__input:focus-visible + & {
			background: url("../img/icons/checkbox/off-focus.svg") center no-repeat;
		}
		.check__input:disabled + & {
			background: url("../img/icons/checkbox/off-disable.svg") center no-repeat;
		}
		.check__input:checked:disabled + & {
			background: url("../img/icons/checkbox/on-disable.svg") center no-repeat;
		}
		.check:focus .check__input + & {
			background: url("../img/icons/checkbox/off-focus.svg") center no-repeat;
		}
	}
}
.option {
	display: block;
}
label {
	user-select: none;
}
