@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E3E3E;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  color: #3E3E3E;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 1.69;
  color: #3E3E3E;
}

.text--bold {
  font-weight: 700;
}

.title-block {
  text-align: center;
}

.title-block__title {
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #000000;
}

.title-block__logo {
  width: 24px;
  height: 24px;
}

.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.875;
  color: #FFFFFF;
  background-color: #0075FF;
  -webkit-box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  padding: 21px 47px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button--secondary {
  color: #0075FF;
  background-color: rgba(255, 255, 255, 0);
  outline: 2px solid #0075FF;
  outline-offset: -2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header._header-scroll {
  background-color: hsla(212deg, 100%, 50%, 0.9);
}

.header__container {
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._header-scroll .header__container {
  min-height: 50px;
  padding-block: 4px;
}

.menu-open ._header-scroll .header__container {
  padding-block: 10px;
}

.header__logo {
  position: relative;
  overflow: hidden;
  z-index: 6;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__logo img {
  max-width: 100%;
}

._header-scroll .header__logo {
  height: 36px;
}

.header__phone {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__icon {
  position: relative;
  z-index: 5;
}

.menu__icon img {
  max-width: 100%;
}

.menu__body {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0075FF;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 152px 0 40px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0075FF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.menu-open .menu__body {
  opacity: 1;
  visibility: visible;
}

.menu-open .menu__body::before {
  opacity: 1;
  visibility: visible;
}

.menu__list:not(:last-child) {
  margin-bottom: 48px;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: hsl(0deg, 0%, 100%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__actions {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu__number-phone {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu__number-phone:not(:last-child) {
  margin-bottom: 16px;
}

.menu__link-phone {
  position: relative;
}

.menu__link-phone::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.icon-menu {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 6;
}

.icon-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 24px;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
  -webkit-transition: background-color 0.15s ease 0.15s;
  -o-transition: background-color 0.15s ease 0.15s;
  transition: background-color 0.15s ease 0.15s;
}

.icon-menu span::before,
.icon-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: hsl(0deg, 0%, 100%);
  -webkit-transition: top 0.15s ease 0.15s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0s;
  transition: top 0.15s ease 0.15s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0s;
  -o-transition: top 0.15s ease 0.15s, transform 0.15s ease 0s, width 0.3s ease 0s;
  transition: top 0.15s ease 0.15s, transform 0.15s ease 0s, width 0.3s ease 0s;
  transition: top 0.15s ease 0.15s, transform 0.15s ease 0s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0s;
}

.icon-menu span::before {
  top: -6px;
}

.icon-menu span::after {
  top: 6px;
}

.menu-open .icon-menu span {
  background-color: transparent;
}

.menu-open .icon-menu span::before,
.menu-open .icon-menu span::after {
  -webkit-transition: top 0.15s ease 0s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0.15s;
  transition: top 0.15s ease 0s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0.15s;
  -o-transition: top 0.15s ease 0s, transform 0.15s ease 0.15s, width 0.3s ease 0s;
  transition: top 0.15s ease 0s, transform 0.15s ease 0.15s, width 0.3s ease 0s;
  transition: top 0.15s ease 0s, transform 0.15s ease 0.15s, width 0.3s ease 0s, -webkit-transform 0.15s ease 0.15s;
  top: 0;
}

.menu-open .icon-menu span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .icon-menu span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  position: relative;
}

.footer__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo img {
  max-width: 100%;
}

:root {
  --app-height: 100%;
}

.main {
  position: relative;
  height: 100vh;
  height: var(--app-height);
}

.loaded .main {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  height: 100%;
  padding-top: 152px;
  padding-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.main__title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -1.5px;
  color: #FFFFFF;
  position: relative;
}

.main__title::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50px;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 48px;
}

.about__title {
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #000000;
}

.about__title span {
  color: #0075FF;
}

.about__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #0075FF;
}

.about__label:not(:last-child) {
  margin-bottom: 24px;
}

.about__text > *:not(:last-child) {
  margin-bottom: 30px;
}

.about__info > *:not(:last-child) {
  margin-bottom: 2px;
}

.gallery__items:not(:last-child) {
  margin-bottom: 32px;
}

.gallery__button {
  display: block;
  margin: 0px auto;
}

.item-gallery:not(:last-child) {
  margin-bottom: 40px;
}

.item-gallery__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.item-gallery__images:not(:last-child) {
  margin-bottom: 24px;
}

.item-gallery__image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.item-gallery:nth-child(4n+1) .item-gallery__image:first-child {
  padding-bottom: 100%;
}

.item-gallery:nth-child(even) .item-gallery__image:first-child {
  padding-bottom: 100%;
}

.item-gallery:nth-child(4n+3) .item-gallery__image:last-child {
  padding-bottom: 100%;
}

.item-gallery__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-gallery__address span {
  color: #0075FF;
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 48px;
  justify-items: center;
}

.item-testimonials__image {
  margin: 0px auto;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.item-testimonials__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  text-align: center;
}

.item-testimonials__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #0075FF;
}

.item-testimonials__position {
  font-size: 14px;
  line-height: 1.92;
  color: #9FADC2;
}

.item-testimonials__text {
  max-width: 350px;
}

.contacts__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.info-contacts {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

.info-contacts__label {
  font-size: 14px;
  line-height: 1.93;
  color: #9FADC2;
}

.info-contacts__label:not(:last-child) {
  margin-bottom: 8px;
}

.info-contacts__phone {
  display: inline-block;
}

.info-contacts__email {
  display: inline-block;
}

.info-contacts__email:hover {
  text-decoration: underline;
}

.form-contacts__body {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}

.form-contacts__body:not(:last-child) {
  margin-bottom: 32px;
}

.form-contacts__input {
  width: 100%;
  background-color: #F7F8FF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  height: 48px;
  padding: 0 17px;
  border: 2px solid transparent;
}

.form-contacts__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__input::placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__textarea {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #F7F8FF;
  border-radius: 8px;
  width: 100%;
  min-height: 144px;
  max-height: 240px;
  resize: vertical;
  padding: 14px 17px;
}

.form-contacts__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__textarea::placeholder {
  font-size: 14px;
  line-height: 1.43;
  color: #8F99A8;
}

.form-contacts__input,
.form-contacts__textarea {
  outline: none;
  border: 2px solid transparent;
}

.form-contacts__input:focus,
.form-contacts__textarea:focus {
  border: 2px solid #0075FF;
}

.form-contacts__button {
  width: 100%;
}

@media (min-width: 66.25em) {
  .page {
    padding-bottom: 6.5rem;
  }

  .page__main:not(:last-child) {
    margin-bottom: 6.5rem;
  }

  .page__about:not(:last-child) {
    margin-bottom: 6.5rem;
  }

  .page__gallery:not(:last-child) {
    margin-bottom: 6.5rem;
  }

  .page__testimonials:not(:last-child) {
    margin-bottom: 6.5rem;
  }

  .title-block:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  .title-block__title {
    font-size: 3rem;
  }

  .header__container {
    min-height: 8rem;
  }

  .header__logo {
    height: 5rem;
  }

  .header__logo {
    max-width: 8.5rem;
  }

  ._header-scroll .header__logo {
    height: 2.25rem;
  }

  .menu-open .header__logo {
    height: 5rem;
  }

  .menu__body::before {
    height: 8rem;
  }

  ._header-scroll .menu__body::before {
    height: 5.5rem;
  }

  .footer__container {
    min-height: 22.5rem;
  }

  .footer__container {
    padding-block: 2rem;
  }

  .footer__logo {
    max-width: 8.5rem;
  }

  .main__title {
    font-size: 5rem;
  }

  .about__title {
    font-size: 3rem;
  }

  .item-testimonials__image:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (min-width: 480px) {
  .info-contacts {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .info-contacts__item--email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .info-contacts__item--address {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

@media (min-width: 768px) {
  .header__phone::before {
    content: attr(data-phone);
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 50%;
    left: 0;
    padding-right: 16px;
    -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    pointer-events: none;
  }

  .header__phone:focus-visible::before {
    visibility: visible;
    opacity: 1;
  }

  .about__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .about__heading {
    max-width: 250px;
  }

  .item-gallery:nth-child(4n+1) .item-gallery__image:first-child {
    padding-bottom: 38.1%;
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }

  .item-gallery:nth-child(4n+1) .item-gallery__image:last-child {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .item-gallery:nth-child(even) .item-gallery__image:first-child {
    padding-bottom: 51.405%;
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .item-gallery:nth-child(even) .item-gallery__image:last-child {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .item-gallery:nth-child(4n+3) .item-gallery__image:first-child {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .item-gallery:nth-child(4n+3) .item-gallery__image:last-child {
    padding-bottom: 38.1%;
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }

  .testimonials__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .contacts__body {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .contacts__info {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .contacts__form {
    -ms-grid-column-span: 5;
    grid-column: span 5/-1;
  }
}

@media (min-width: 768px) and (any-hover: hover) {
  .header__phone:hover::before {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 768.02px) {
  .about__title span {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .gallery__button {
    width: 100%;
  }

  .item-gallery:not(:last-child) {
    margin-bottom: 32px;
  }

  .item-gallery__images {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .item-gallery__images:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (max-width: 520px) {
  .about__heading {
    max-width: 300px;
  }
}

@media (max-width: 20em) {
  .page {
    padding-bottom: 4rem;
  }

  .page__main:not(:last-child) {
    margin-bottom: 4rem;
  }

  .page__about:not(:last-child) {
    margin-bottom: 4rem;
  }

  .page__gallery:not(:last-child) {
    margin-bottom: 4rem;
  }

  .page__testimonials:not(:last-child) {
    margin-bottom: 4rem;
  }

  .title-block:not(:last-child) {
    margin-bottom: 1.8125rem;
  }

  .title-block__title {
    font-size: 2.25rem;
  }

  .header__container {
    min-height: 6rem;
  }

  .header__logo {
    height: 3.0625rem;
  }

  .header__logo {
    max-width: 5.125rem;
  }

  ._header-scroll .header__logo {
    height: 1.375rem;
  }

  .menu-open .header__logo {
    height: 3.0625rem;
  }

  .menu__body::before {
    height: 6rem;
  }

  ._header-scroll .menu__body::before {
    height: 3.5625rem;
  }

  .footer__container {
    min-height: 13.125rem;
  }

  .footer__container {
    padding-block: 1.5rem;
  }

  .footer__logo {
    max-width: 5.125rem;
  }

  .main__title {
    font-size: 2.875rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .item-testimonials__image:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 20em) and (max-width: 66.25em) {
@supports (padding-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page {
      padding-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (padding-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page {
      padding-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__main:not(:last-child) {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__main:not(:last-child) {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__about:not(:last-child) {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__about:not(:last-child) {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__gallery:not(:last-child) {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__gallery:not(:last-child) {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__testimonials:not(:last-child) {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__testimonials:not(:last-child) {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.8125rem , 1.0827702703rem  +  3.6486486486vw , 3.5rem )) {
    .title-block:not(:last-child) {
      margin-bottom: clamp( 1.8125rem , 1.0827702703rem  +  3.6486486486vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.8125rem , 1.0827702703rem  +  3.6486486486vw , 3.5rem )) {
    .title-block:not(:last-child) {
      margin-bottom: calc(1.8125rem + 1.6875 * (100vw - 20rem) / 46.25);
    }
}

@supports (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .title-block__title {
      font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .title-block__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem )) {
    .header__container {
      min-height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem );
    }
}

@supports not (min-height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem )) {
    .header__container {
      min-height: calc(6rem + 2 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem )) {
    .header__logo {
      height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem );
    }
}

@supports not (height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem )) {
    .header__logo {
      height: calc(3.0625rem + 1.9375 * (100vw - 20rem) / 46.25);
    }
}

@supports (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .header__logo {
      max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem );
    }
}

@supports not (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .header__logo {
      max-width: calc(5.125rem + 3.375 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 1.375rem , 0.9966216216rem  +  1.8918918919vw , 2.25rem )) {
    ._header-scroll .header__logo {
      height: clamp( 1.375rem , 0.9966216216rem  +  1.8918918919vw , 2.25rem );
    }
}

@supports not (height: clamp( 1.375rem , 0.9966216216rem  +  1.8918918919vw , 2.25rem )) {
    ._header-scroll .header__logo {
      height: calc(1.375rem + 0.875 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem )) {
    .menu-open .header__logo {
      height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem );
    }
}

@supports not (height: clamp( 3.0625rem , 2.2246621622rem  +  4.1891891892vw , 5rem )) {
    .menu-open .header__logo {
      height: calc(3.0625rem + 1.9375 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem )) {
    .menu__body::before {
      height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem );
    }
}

@supports not (height: clamp( 6rem , 5.1351351351rem  +  4.3243243243vw , 8rem )) {
    .menu__body::before {
      height: calc(6rem + 2 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 3.5625rem , 2.7246621622rem  +  4.1891891892vw , 5.5rem )) {
    ._header-scroll .menu__body::before {
      height: clamp( 3.5625rem , 2.7246621622rem  +  4.1891891892vw , 5.5rem );
    }
}

@supports not (height: clamp( 3.5625rem , 2.7246621622rem  +  4.1891891892vw , 5.5rem )) {
    ._header-scroll .menu__body::before {
      height: calc(3.5625rem + 1.9375 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 13.125rem , 9.0709459459rem  +  20.2702702703vw , 22.5rem )) {
    .footer__container {
      min-height: clamp( 13.125rem , 9.0709459459rem  +  20.2702702703vw , 22.5rem );
    }
}

@supports not (min-height: clamp( 13.125rem , 9.0709459459rem  +  20.2702702703vw , 22.5rem )) {
    .footer__container {
      min-height: calc(13.125rem + 9.375 * (100vw - 20rem) / 46.25);
    }
}

@supports (padding-block: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem )) {
    .footer__container {
      padding-block: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem );
    }
}

@supports not (padding-block: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem )) {
    .footer__container {
      padding-block: calc(1.5rem + 0.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .footer__logo {
      max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem );
    }
}

@supports not (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .footer__logo {
      max-width: calc(5.125rem + 3.375 * (100vw - 20rem) / 46.25);
    }
}

@supports (font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem )) {
    .main__title {
      font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem );
    }
}

@supports not (font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem )) {
    .main__title {
      font-size: calc(2.875rem + 2.125 * (100vw - 20rem) / 46.25);
    }
}

@supports (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .about__title {
      font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .about__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem )) {
    .item-testimonials__image:not(:last-child) {
      margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem )) {
    .item-testimonials__image:not(:last-child) {
      margin-bottom: calc(1.75rem + 0.25 * (100vw - 20rem) / 46.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #005ECC;
    -webkit-box-shadow: 0px 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0px 13px 27px rgba(0, 83, 181, 0.46);
  }

  .button:active {
    -webkit-box-shadow: 0px 8px 14px rgba(0, 83, 181, 0.48);
            box-shadow: 0px 8px 14px rgba(0, 83, 181, 0.48);
  }

  .button--secondary:hover {
    outline: 2px solid #005ECC;
    color: #fff;
    background-color: #005ECC;
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .menu__link-phone:hover::after {
    -webkit-transform: scaleX(0.2);
        -ms-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }

  .icon-menu:hover span::before {
    width: 17px;
  }

  .icon-menu:hover span::after {
    width: 12px;
  }

  .menu-open .icon-menu:hover span::before,
  .menu-open .icon-menu:hover span::after {
    width: 100%;
  }

  .info-contacts__phone:hover {
    text-decoration: underline;
  }

  .form-contacts__input:hover {
    border: 2px solid #CCD0E0;
  }

  .form-contacts__input,
  .form-contacts__textarea {
    -webkit-transition: border 0.3s ease 0s;
    -o-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
  }

  .form-contacts__input:hover,
  .form-contacts__textarea:hover {
    border: 2px solid #CCD0E0;
  }

  .form-contacts__input:focus:hover,
  .form-contacts__textarea:focus:hover {
    border: 2px solid #0075FF;
  }
}